body {
    min-height: 100vh;
    background: #F4F6F7;
    background: linear-gradient(#F4F6F7, white);
    overflow: hidden;
}

@font-face {
    font-family: ComicAndy;
    src: url(comic_andy.ttf);
}

.title {
    font-size: 42px;
    font-family: ComicAndy, "Comic Sans MS";
    margin: 0;
}