RewriteEngine on

RewriteCond %{HTTP_HOST} ^\w+\.\w+$ [NC]
RewriteRule ^(.*)$ https://www.dobuki.net/$1 [L,R=301]

RewriteCond %{DOCUMENT_ROOT}/public/%{REQUEST_URI} -f
RewriteRule ^ %{DOCUMENT_ROOT}/public/%{REQUEST_URI} [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]

Options -Indexes

ErrorDocument 403 /index.php

