RewriteEngine on


<IfModule mod_rewrite.c>
RewriteCond %{HTTP_HOST} ^blog\.dobuki\.net$
RewriteRule ^(.*)$ %{DOCUMENT_ROOT}/wordpress/$1
</IfModule>


RewriteCond %{HTTP_HOST} ^\w+\.\w+$ [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

RewriteCond %{HTTP_HOST} ^www.\w+\.\w+$ [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]

RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f
RewriteRule ^ %{DOCUMENT_ROOT}/public%{REQUEST_URI} [L]

RewriteCond %{DOCUMENT_ROOT}/pages%{REQUEST_URI} -f
RewriteRule ^ %{DOCUMENT_ROOT}/pages%{REQUEST_URI} [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L]

Options -Indexes

ErrorDocument 403 /index.php

